@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,500;0,700;1,400&display=swap');

:root {
    --background-color-primary: #ececec;
    --accent-color: #ffffff;
    --text-color: #111517;
    --dark-grey: #e4e4e4;
    color-scheme: light dark;
}

:root.dark-theme {
    --background-color-primary: #202c37;
    --accent-color: #2b3945;
    --text-color: #ffffff;
    --dark-grey: #566877;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: var(--text-color);
}
