@import './base.css';

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: var(--background-color-primary);
    transition: background-color 325ms ease, color 325ms ease;
}

#app > main {
    flex: 1;
    /* flex: 1 0 auto; */
    /* flex-grow: 2; */
    /* flex-wrap: wrap; */
}

#app > footer {
    flex-shrink: 0;
}

#app svg {
    transition: fill 325ms ease;
}
